# This file configures the variables that can be used in all
# the .proto files
# Unset configuration variables can also be passed via the environment

# What is your VPN called? e.g. "Metasoft_Inc_VPN"
VPN_NAME=

# The network to use for the VPN and its subnet
# e.g. 10.42.99.0 255.255.255.0
NETWORK=
SUBNET=255.255.255.0

# The VPN server's IP address or Hostname and port
SERVER_IP=
SERVER_PORT=443

# Whether to use tcp or udp; udp is faster because it has less overhead,
# but some firewalls (e.g. the ones in hotels) won't allow UDP
SERVER_TRANSPORT=udp

# Search path for commands; you normally don't need to change this
export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:$PATH"

# Use the system's openvpn without complaining; if this is unset and openvpn 
# is detected on the system, it will pause and ask the user for confirmation
#USE_SYSTEM_OPENVPN=y

# Location of the openvpn binary; if this is unset the init.d script will
# detect the localtion from the PATH
#OPENVPN_BIN=/usr/local/openvpn

# If this is set, the init script will automatically configure the host
# as a router; this is necessary in setups where openvpn is connected to
# inner network (this is most cases, so you probably want to use it).
# Be careful with this setting as it might open security holes. Make sure
# your firewall is configured to block any unauthorized traffic.
#ENABLE_IP_ROUTING=y

# Where to put the status and the PID file (clients+servers)
STATUS_FILE="/tmp/openvpn-${VPN_NAME}.status"
PID_FILE="/tmp/openvpn-${VPN_NAME}.pid"
